body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background: url(bg.jpg);
    background-size: cover;

}
.signin
{
    background: rgba(44,62,80,0.7);
    padding: 50px;
    width: 250px;
    margin: auto;
    margin-top: 80px;
    height: 400px;
    margin-left: 550px;
}
form 
{
    width: 240px;
    text-align: center;
}
input
{
    width: 250px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;

}
input[type="button"]
{
    border: none;
    width: 190px;
    background: white;
    color: #000;
    font-size: 16x;
    line-height: 25px;
    cursor: pointer;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;

}
input[type="button"]:hover
{
    color: #fff;
    background-color: black;
}
h2{
    color: white;
}
a
{
    color: yellow;
    text-decoration: blink;
}
a:hover
{
    color: skyblue;
}
.container 
{
    display: flex;
    flex-basis: row;
    width: 100%;
}
::placeholder 
{
    color: aliceblue;
    opacity: 0.8;
}