body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    background: url(bg.jpg);
    background-size: cover;
}
.signup 
{
    background: rgba(44, 62, 80, 0.7);
    padding: 60px;
    width: 250px;
    margin: auto;
    margin-top: 80px;
    height: 430px;
    margin-left: 180px;
    margin: 0 auto;
    margin-top: 85px;

}
form
{
    width: 240px;
    text-align: center;

}
input
{
    width: 250px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;

}
input[type="button"]
{
    border: none;
    width: 190px;
    background: white;
    color: #000;
    font-size: 16x;
    line-height: 25px;
    cursor: pointer;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}
input[type="button"]:hover
{
    color: #fff;
    background-color: black;
}
h2 
{
    color: #000000;
}
::placeholder 
{
    color: aliceblue;
    opacity: 0.8;
}